/* Container holding the image and the text */
body {
    background-color: bisque;
    color: brown;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: bisque;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: brown;
}
li a:hover {
  background-color: #f6dAc5;
}

.container {
    display: flex;
    width: 100%;
}

.cell {
    position: relative;
    margin: 1rem;
  }

.cell img{
    height: 70vh;
  }
.cell p{
    height: 20vh;
    margin: 20px;
  }

  h4{
    margin-left: 5px;
  }
  
  /* Bottom right text */
.text-block {
    top: 45vh;
    left: 60px;
    bottom: -10px;
    right: 50px;
    position: absolute;
    background-color: bisque;
    opacity: 0.5;
    color: brown;
    padding-left: 20x;
    padding-right: 20px;
    margin: 5px;
  }

  input {
    margin: 5px;
    height: 20px;
    border-radius: 2px;
    background-color: bisque;
    color: brown;
  }
